.form-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background-gradient);
  min-height: 600px;
  margin-top: 150px;
}

.form-container {
  position: absolute;
  background: var(--white);
  box-shadow: 0px 0px 6px #0000004d;
  border-radius: 8px;
  width: 64%;
  padding: 56px 180px;
  margin: 0 auto;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__title {
  color: var(--green);
  text-align: center;
  font: bold 36px Montserrat, sans-serif;
}

.form__description {
  margin: 32px 0;
}

.input-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px;
}

.error {
  color: var(--error);
  font-size: 14px;
}

.input {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 48px;
  padding: 8px;
  border: 1px solid #363636;
}

.textarea-container {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  height: 180px;
  padding: 8px;
  border: 1px solid #363636;
  resize: vertical;
  flex-grow: 1;
}

.form__button {
  width: 249px;
  height: 48px;
  color: var(--white);
  background: var(--green);
  align-self: start;
  margin: 32px 10px;

  transition: opacity 0.6s;
}

.form__button:hover {
  opacity: 0.8;
}

.input__border--error {
  border: 1px solid var(--error);
}

@media (max-width: 1200px) {
  .form-container {
    padding: 36px 60px;
  }
}

@media (max-width: 800px) {
  .form-container {
    width: 86%;
  }
}

@media (max-width: 600px) {
  .form-container {
    width: 95%;
    padding: 24px 20px;
  }
}
