:root {
  --background: #363636;
  --background-gradient: linear-gradient(143deg, #7dede2 0%, #58b790 100%);
  --card-gradient: linear-gradient(180deg, #b905087c 0%, #500f0f5e 100%);
  --green: #63c7a9;
  --white: #ffffff;
  --black: #363636;
  --gray: #f0f0f2;
  --error: #b90508;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  width: 100%;
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: var(--black);
  font-family: "Open Sans", sans-serif;
}

button {
  border: 0;
  cursor: pointer;
}

.footer {
  position: relative;
  height: 300px;
}

.go-top-btn {
  background: var(--white);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 100px;
  right: 30px;
  transition: all 0.6s;
}

.go-top-btn:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 6px #0000004D;
}
