.header {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header__title {
  color: var(--white);
  text-transform: uppercase;
  font: bold 24px Montserrat, sans-serif;
}

.header__logo {
  width: 109px;
}

@media (max-width: 420px) {
  .header__title {
    font-size: 18px;
  }

  .header__logo {
    width: 80px;
  }
}
