.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1180px;
  margin: 64px auto 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

/* Override styles */

.rec-arrow {
  color: #ffffff !important;
  font-size: 36px !important;
  width: auto !important;
  height: auto !important;
  min-width: auto !important;
}

.rec-arrow:hover {
  color: #f2f2f2 !important;
  background-color: transparent !important;
}

.rec-arrow:disabled {
  cursor: not-allowed;
  color: #4d4d4d !important;
}

.rec-arrow:hover:enabled, .rec-arrow:focus:enabled {
  background-color: transparent !important;
  box-shadow: 0 0 2px 0 #333 !important;
}

/*  */

.card {
  margin: 150px 20px 20px 20px;
  width: 300px;
  height: 500px;
  background: var(--white);
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__image {
  position: relative;
  width: 280px;
  height: 340px;
  top: -90px;
  background: var(--background);
  border: 2px solid var(--white);
  border-radius: 24%;
}

.card__image img {
  max-width: 300px;
  position: absolute;
  top: -66.5px;
  left: -10px;

  user-select: none;
  pointer-events: none;
}

.card__text {
  max-width: 326px;
  margin-top: -56px;
  padding: 0 24px;
}

@media (max-width: 500px) {
  .carousel-container {
    margin: 16px 4px 112px 4px;
  }

  .card {
    margin: 150px 0 0 0;
    width: 290px;
    height: 500px;
  }

  .card__image {
    width: 250px;
    height: 330px;
  }

  .card__image img {
    top: -39.5px;
    max-width: 272px;
  }

  .card__text {
    padding: 0 16px;
  }
}
