.wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5b5e5d94;
  z-index: 999;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-success {
  width: 42%;
  padding: 32px 24px;
  background-color: var(--white);
  border: 1px solid #a0a1a1c2;
  border-top: 8px solid var(--green);
  border-radius: 16px;


  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message-success__icon {
  width: 56px;
}

.message-success__text {
  color: var(--green);
  margin: 24px 0 16px 0;
}

.message-success__btn {
  width: 200px;
  height: 42px;
  background-color: var(--green);
  color: var(--white);
}

.message-success__btn:hover {
  opacity: 0.9;
}

@media (max-width: 800px) {
  .message-success {
    width: 68%;
  }
}

@media (max-width: 600px) {
  .message-success {
    width: 80%;
  }
}
