.banner {
  width: 100%;
  background: url("../../assets/banner-background.png") no-repeat;
  max-height: 1080px;
}

.banner__card {
  max-width: 480px;
  height: 100%;
  margin: 0 auto;
  background: var(--card-gradient);
  color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.banner__card-title {
  align-self: start;
  margin-bottom: 16px;
}

.banner__card-image {
  width: 90%;
}

.banner__card-text {
  max-width: 271px;
  margin: 16px 0;
  text-align: center;
  color: var(--gray);
}
